{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
  {jsxn, {git, "https://github.com/talentdeficit/jsxn.git", {branch, "v2.3.0"}}},
  {websocket_client, ".*", {git, "https://github.com/jeremyong/websocket_client", {branch, "master"}}}
]}.

{relx, [{release, {satori_client, "1.0"},
  [	lager,
    crypto,
    ssl,
    jsxn,
    websocket_client,
    satori_client]},

  {dev_mode, true},
  {include_erts, true},
  {system_libs, false},

  {overlay_vars, "./templates/vars.config"},
  {overlay, [
    {template, "./templates/sys.config", "releases/{{default_release_version}}/sys.config"},
    {template, "./templates/vm.args", "releases/{{default_release_version}}/vm.args"}
  ]},
  {extended_start_script, true}]
}.

{profiles, [
  {test, [{deps, [
    {meck, ".*",
      {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}}
  ]},
    {relx, [{overlay_vars, ["./templates/vars.config", "./templates/vars_test.config"]}]}
  ]},
  {prod, [{relx, [{dev_mode, false}, {include_erts, true}, {include_src, false},
    {overlay_vars, ["./templates/vars.config"]}]}]}
]}.