[%% LAGER Config
  {lager, [
    {log_root, "/var/log/satori"},
    {handlers, [
      {lager_console_backend, {{lager_log_level}}},
      {lager_file_backend, [{file, "{{ node_name }}.log"}, {level, {{lager_log_level}}},
        {size, 10485760}, {date, "$D0"}, {count, 5}]}
    ]}
  ]},

  {
    satori_client, [
    {satori_publisher, {{ satori_publisher }} },
    {satori_subscriber, {{ satori_subscriber }} },
    {satori_key_value_store, {{ satori_key_value_store }} }
  ]
  }
].